.element__like{
  background-image: url(../../../images/like-logo.svg);
  background-color: white;
  background-size: cover;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  height: 18.13px;
  width: 20.76px;
  transition: opacity 0.3s linear;
}

.element__like:hover {
  opacity: 0.6;
}