.popup__content {
  max-width: 430px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding-top: 34px;
  color: black;
}

@media screen and (max-width: 614px) {
  .popup__content {
    width: 282px;
    max-width: none;
    padding-top: 25px;
    min-width: 282px;
  }
}
